* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a0979a;

}

.center {
    position: relative;

    left: 50%;
    transform: translate(-50%);
}

.wrapper {
    width: 70vw;
}

.container {
    aspect-ratio: 1440/800;
    /* margin: 0px 10%; */

    /* width: 100%;
    height: calc(100 / 1.8); */
}

.tmp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.0;
}

.btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: orange;
    color: white;
    padding: .5rem 1rem;
}